---
import type { CollectionEntry } from "astro:content";

import "@wooorm/starry-night/style/light.css";
import "#/styles/prose.css";
import "#/styles/starrynight.css";

import Layout from "../Layout.astro";
import consts from "#/consts";

type Props = CollectionEntry<"blog">["data"];

const { title, excerpt, date, image, tags } = Astro.props;
---

<Layout
  title={title + " - " + consts.title}
  description={excerpt}
  thumbnail={image}
>
  <main>
    <article>
      <div class="header">
        {
          image && (
            <div class="thumbnail">
              <img src={image} alt={title} loading="lazy" />
            </div>
          )
        }
        <div class="tags">
          <small class="date">
            {
              new Intl.DateTimeFormat("en-US", {
                year: "numeric",
                month: "short",
                day: "numeric",
              }).format(date)
            }
          </small>
          {tags?.map((tag) => <small class="tag">{tag}</small>)}
        </div>
        <h1 class="title">{title}</h1>
      </div>
    </article>
    <div class="prose"><slot /></div>
  </main>
  <script type="text/javascript">
    const tockLinks = document
      .getElementsByClassName("toc")?.[0]
      ?.getElementsByClassName("toc-link");
    if (tockLinks) {
      for (const link of tockLinks) {
        link.onclick = (e) => {
          e.preventDefault();
          const anchor = e.target.attributes.href.value;
          location.href = anchor;
        };
      }
    }

    const links = document
      .getElementsByClassName("prose")?.[0]
      ?.getElementsByTagName("a");
    if (links) {
      for (const link of links) {
        const urlOrigin = link.origin;
        const blogOrigin = window.location.origin;
        if (urlOrigin !== blogOrigin) {
          link.setAttribute("target", "_blank");
          link.setAttribute("rel", "noopener noreferrer");
        }
      }
    }
  </script>
</Layout>

<style>
  .thumbnail {
    position: relative;
    margin: 0 -24px 24px;
    border-radius: 8px;
    display: block;
    max-width: unset;
    width: calc(100% + 48px);
    padding-top: 52.5%;
    overflow: hidden;
  }
  .thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
  }
  .prose {
    padding: 0 24px;
  }
  @media (max-width: 1250px) {
    .prose {
      padding: 0 8px;
    }
  }
  .header {
    padding: 0 24px;
    margin-bottom: 48px;
  }
  .tags {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .tag {
    border-radius: 4px;
    display: block;
    padding: 2px 4px;
    background-color: #eee6de;
  }
  .date {
    margin-inline-end: 8px;
    color: var(--color-2);
  }
</style>
